<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/public/styles.css">
    <title>Login</title>
</head>

<body>
    <div class="content">
        <header>
            <h1>Login</h1> </header>
        <p>{{error}}</p>
        <form action="http://localhost:3000/login" method="POST">
            <fieldset>
                <legend>Login</legend>
                <label for="username">Username: </label>
                <input type="text" name="username" id="username">
                <br>
                <br>
                <label for="password">Password: </label>
                <input type="text" name="password" id="password">
                <input type="submit" id="submit"> </fieldset>
        </form>
    </div>
</body>

</html>